.jumbotron {
    background: #2f538c;
    color: white;
    padding-bottom: 80px;
}

.jumbotron .btn-primary {
    background: #0c10e0;
    border-color: #0e0379;
}

.jumbotron .btn-primary:hover {
    background: #020475;
}

.jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em;
}

.navbar+.jumbotron {
    margin-top: -20px;
}

.jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white;
}

.jumbotron .lang-logo img {
    max-width: 100%;
}